.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    min-width: 500px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search, .add {
    align-self: flex-start;
}